.button {
	width: fit-content;
	appearance: none;
	padding: 0.5rem 1rem;
	border-radius: 0.5rem;
	outline: none;
	box-shadow: 1px 1px 8px gray;
	transition: all 0.3s linear;
	color: white;
	background-color: black;
	cursor: pointer;
}
.button:hover {
	box-shadow: 1px 1px 16px gray;
	transition: all 0.3s linear;
	background-color: white;
	color: black;
}
.button[disabled] {
	background-color: lightgray;
	color: white;
	cursor: default;
	border: none;
	box-shadow: none;
}
