.wrapper {
	position: relative;
	width: fit-content;
	display: grid;
	grid-template-rows: 1fr;
	grid-template-columns: auto auto;
}
.label {
	user-select: none;
	user-select: none;
	grid-row: 1;
	grid-column: 1;
	display: flex;
	align-items: center;
	margin-right: 1rem;
}
.select {
	grid-row: 1;
	grid-column: 2;
	appearance: none;
	height: 2rem;
	width: fit-content;
	padding: 0 3rem 0 1rem;
	border: none;
	outline: none;
	box-shadow: 1px 1px 8px gray;
	color: gray;
	border-radius: 0.5rem;
	cursor: pointer;
}
.select:focus {
	box-shadow: 1px 1px 16px gray;
}
.icon {
	position: absolute;
	height: 1.5rem;
	width: 1.5rem;
	top: 0.3rem;
	right: 0.5rem;
	pointer-events: none;
	color: gray;
}
